# Auto detect text files and perform LF normalization
* text=auto
<body style="background-color:#20B2AA;">
<html>
<body>



<h1>Hello</h1>
<h2>Welcome to Papples/h2>
</body>
</html>


<html>
<body>

<p>My name is Tayler. I'm 25 years old.</p>


</body>
</html>